<div class="row">
          <div class="col-lg-3">
            <div class="panel panel-info">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-comments fa-5x"></i>
                  </div>
                  <div class="col-xs-6">
                    <h4>Total Tweets</h4>
                    <h2 id="countTotal""></h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="panel panel-success">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-smile-o fa-5x"></i>
                  </div>
                  <div class="col-xs-6">
                    <h4>Positive tweets</h4>
                    <h2 id="posTotal"></h2>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="panel panel-danger">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-frown-o fa-5x"></i>
                  </div>
                  <div class="col-xs-6">
                    <h4>Negative tweets</p>
                    <h2 id="negTotal"></h2>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <div class="col-lg-3">
            <div class="panel panel-warning">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-info fa-5x"></i>
                  </div>
                  <div class="col-xs-6">
                    <h4>Average Sentiment</h4>
                    <h2 id="avgSent"></h2>
                  </div>
                </div>
              </div>
            </div>
        </div>
</div>
