# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
bcolz=0.7.1
blaze=0.6.3
bokeh=0.6.0
cytoolz=0.7.0
datashape=0.3.0
dateutil=2.1
dynd-python=0.6.5
flask=0.10.1
gevent=1.0.1
gevent-websocket=0.9.3
greenlet=0.4.2
h5py=2.3.1
hdf5=1.8.9
ipython=2.2.0
itsdangerous=0.24
jinja2=2.7.3
libdynd=0.6.5
libsodium=0.4.5
markupsafe=0.23
multipledispatch=0.4.7
numexpr=2.3.1
numpy=1.8.2
openssl=1.0.1h
pandas=0.14.1
pytables=3.1.1
python=2.7.8
python.app=1.2
pytz=2014.7
pyyaml=3.11
pyzmq=14.3.1
readline=6.2
requests=2.4.1
scipy=0.14.0
setuptools=5.7
six=1.8.0
sqlalchemy=0.9.7
sqlite=3.8.4.1
ssl_match_hostname=3.4.0.2
tk=8.5.15
toolz=0.7.0
tornado=4.0.2
ujson=1.33
unicodecsv=0.9.4
werkzeug=0.9.6
yaml=0.1.4
zeromq=4.0.4
zlib=1.2.7
