{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12 text-center">
                <h1>FocusCrawlerViz</h1>
                <p>An Open Source Focused Crawler Dashboard for Domain Specific Search with Flask-Blaze-Bokeh</p>
                <a class="btn btn-default btn-lg btn-info" href="#"><i class="fa fa-eye fa-lg"></i> Demo</a>
                <a class="btn btn-default btn-lg btn-info" href="#"><i class="fa fa-github fa-lg"></i> Download</a>
                <a class="btn btn-default btn-lg btn-info" href="#"><i class="fa fa-book fa-lg"></i> Documentation</a>
            </div>
           <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 text-center">
                 <img src="/static/resources/image.png" class="img-responsive">
           </div>
        </div>
    </div>
</div>
<div class="row">


</div>
<!-- end of .jumbotron -->
<div class="row">
    <div class="col-md-4">
        <div><h3>Focused crawler</h3></div>
        <div>Simplifies domain discovery through semi-supervised machine learning.</div>
    </div><!-- end of .col-lg-4 -->

    <div class="col-md-4">
        <div><h3>Usability and Scalability</h3></div>
        <div class="textwidget">Can scale and adapt to a large number of different backends, thanks to Blaze and Bokeh.</div>
    </div><!-- end of .col-lg-4 -->

    <div class="col-md-4">
        <div><h3>User friendly</h3></div>
        <div>Provides simple visual analytics and interactivity to help gather more information on new domains and simplify initial stages of labelling relevant sites.</div>
    </div><!-- end of .col-lg-4 -->
</div>



{% endblock %}